---
import background from "../assets/background.svg";
---

<div id="container">
  <main>
    <h1>DIGITAL FACTORY</h1>
    <img src={background.src} width="115" height="48" alt="Astro Homepage" />
  </main>
</div>
